.survival-container {
    display: flex;
    flex-direction: column;
    transition: filter 5s ease-in-out;

    //position: relative;
    //background: blue;
    /*
    filter: brightness(50%);

    & img {
        background-color: rgb(255, 255, 255, .8);
        box-shadow: 0 0 10px 8px rgb(255, 255, 255, .8);
        border-radius: 10px;
    }
    */
    & .survival-container-layouts {
    	display: flex;
    }
}