.survival-items-container {
    position: absolute;
    bottom: 7%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;

    & .survival-items {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        animation: fadeIn 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    
        & img {
            width: 50%;
            height: auto;
        }

        & progress {
            height: auto;
            width: 60%;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}