.survival-player {
	width: 100%;
    height: auto;
    left: -.5%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-size: .8rem;

    & .survival-state {
        width: 100%;
        text-align: center;
        //display: flex;
        //align-items: center;
        & label {
            width: 100%;
            display: flex;
            gap: 5px;
            //align-items: center;
            justify-content: space-between;

            & span {
              width: 15%;
              text-align: left;
              font-weight: bold;
              //font-size: .5rem;
            }
            & progress {
                width: 50%;
            }
        }
	}
	
	& .survival-materials {
	    width: 100%;
	    //text-align: center;
	    
	    & label {
	        display: flex;
	        justify-content: center;
	        gap: 10px;
            font-weight: bold;
	    }
	}

}