.survival-left {
    width: 35%;
    height: 100vh;
    //margin: 0 0 1em;
    background: green;
    position: relative;
    z-index: 1;

    & .left-container {
        position: absolute;
        width: 100%;
        height: 100%;
        
        
        & img {
            position: absolute;
            z-index: 1;
            width: 35%;
            height: auto;
        }
    }

    
    &::after {
        content: "";
        position: absolute;
        width: 10%;
        height: 100%;
        left: 100%;
        clip-path: polygon(0 0, 100% 0%, 30% 100%, 0% 100%);
        background: green;
    }
}