.survival-crafts-container {
    position: absolute;
    bottom: 8%;
    width: 60%;
    height: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;

    & .survival-crafts {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
        animation: fadeIn 1s ease-in-out;
        transition: opacity 1s ease-in-out;

        &.fadeOut {
            animation: fadeOut 2.1s ease-in-out;
        }
    
        & img {
            width: 50%;
            height: auto;
        }

        & progress {
            width: 60%;
        }
    }
}

