body {
    margin: 0;
    //overflow: hidden;
    position: relative;
    //height: 100vh;
    box-sizing: border-box;
}

.survival-container {
    & button {
        background: linear-gradient(to right, black, rgb(176, 25, 25), blue, rgb(176, 25, 25), black);// rgb(176, 25, 25));
        border: none;
        color: white;
        border-radius: 5px;
        font-size: calc(.4vw + .4vh + .8vmin);
        min-height: 25px;
        max-height: 30px;
        padding-inline: 1em;
        cursor: pointer;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}